@use "./variables.scss" as *;
@use "./colors.scss" as *;

@mixin flex-center($gap: $gap-sm) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $gap;
}

@mixin flex-column($gap: $gap-sm) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $gap;
}

@mixin flex-column-around($gap: $gap-sm) {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: $gap;
}

@mixin flex-between($gap: $gap-sm) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: $gap;
}

@mixin flex-around($gap: $gap-sm) {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: $gap;
}

@mixin flex-wrap($gap: $gap-sm) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: $gap;
}

@mixin flex-wrap-center($gap: $gap-sm) {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: $gap;
}

@mixin grid-places {
  display: grid;
  place-items: center;
}

@mixin btn {
  background: $black;
  color: $white;
  padding: $padding-lg;
  border-radius: $border-radius;
  border: none;
  margin-bottom: 20px;
  text-decoration: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 20px;
  &:hover {
    background: $white;
    color: $black;
  }
}
