// Bordes
$border-radius: 10px;

// Sombras
$box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);

// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

// Transiciones
$transition-default: 0.5s ease-in-out;

// Gap
$gap-sm: 5px;
$gap-md: 10px;
$gap-lg: 15px;
$gap-xl: 20px;

// Padding
$padding-sm: 5px;
$padding-md: 10px;
$padding-lg: 15px;
$padding-xl: 20px;
