@use "./sass/colors.scss" as *;
@use "./sass/variables.scss" as *;
@use "./sass/mixins.scss" as *;
@use "./sass/typography.scss" as *;

/* General Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $primary-color;
  height: 100vh;
}

/* NavBar */

.navBar {
  background: $black;
  color: $white;
  position: relative;
  padding: $padding-md $padding-lg;
  z-index: 10;
  .logo {
    width: 180px;
  }

  .groupNav {
    @include flex-between;

    .relative {
      &:hover .megaMenu {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
      }
    }
  }
}

.megaMenu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: $black;
  box-shadow: $box-shadow;
  padding: $padding-xl 40px;
  @include flex-between;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;

  .column {
    display: flex;
    flex-direction: column;
    gap: $gap-md;
  }
}

.aNav {
  color: $white;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;

  &:hover {
    background-color: $primary-color;
    border-radius: $border-radius;
    padding: 5px;
    cursor: pointer;
  }
}

/* Item List */

.card {
  position: relative;
  background: $secondary-color;
  width: 300px;
  height: 400px;
  border-radius: $border-radius;
  overflow: hidden;

  .img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }

  .info {
    @include flex-between($gap-lg);
    flex-direction: column;
    padding: $padding-md;
  }

  .etiquetas {
    @include flex-wrap-center($gap-md);
  }

  .etiqueta {
    background: $tertiary-color;
    color: $black;
    padding: $padding-sm $padding-md;
    border-radius: $border-radius;
    font-size: 14px;
  }

  .btnMas {
    position: absolute;
    bottom: 5px;
    left: 100px;
    background: $black;
    color: $white;
    padding: $padding-md;
    border-radius: $border-radius;
    margin: 0px auto;
    text-decoration: none;
    cursor: pointer;
    font-weight: 600;

    &:hover {
      background: $white;
      color: $black;
    }
  }
}

.counter {
  @include flex-center;
  margin-bottom: 20px;
}

.btnAdd {
  background: $tertiary-color;
  color: $black;
  padding: $padding-md;
  border-radius: 50%;
  cursor: pointer;
  font-weight: 600;
  &:hover {
    background: $white;
    color: $black;
  }
}

.box {
  text-align: center;
  padding: $padding-lg;
  width: 50px;
  height: 50px;
  border-radius: $border-radius;
  border: 1px solid $black;
}

.list {
  @include flex-wrap($gap-xl);
  padding: $padding-lg;
}

.contador {
  position: absolute;
  bottom: 35px;
  right: 10px;
  background: red;
  color: $white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardDescription {
  position: relative;
  @include flex-column;
  width: 750px;
  margin: 30px auto;
  background-color: $secondary-color;
  border-radius: $border-radius;
}

.cardInformation {
  position: relative;
  height: 24rem;
  overflow: hidden;
  border-radius: $border-radius;
  padding: $padding-md;
}

.imageCard {
  width: 730px;
  height: 400px;
  object-fit: cover;
  border-radius: $border-radius;
}

.textInformation {
  padding: $padding-lg;

  p {
    text-align: justify;
    font-size: 18px;
  }
}

.textLine {
  @include flex-between($gap-lg);
  margin-bottom: 30px;
  p {
    font-size: 20px;
    font-weight: 600;
  }
}

.emptyCart {
  @include grid-places;
  margin-top: 40px;
}

.errorPage {
  @include flex-column($gap-xl);
  height: calc(100vh - 125px);
  background: $primary-color;
}

.btn {
  @include btn;
}

.line {
  @include flex-around;
  width: 100%;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  --d: 50px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  color: $tertiary-color;
  box-shadow: calc(1 * var(--d)) calc(0 * var(--d)) 0 0,
    calc(0.707 * var(--d)) calc(0.707 * var(--d)) 0 1px,
    calc(0 * var(--d)) calc(1 * var(--d)) 0 2px,
    calc(-0.707 * var(--d)) calc(0.707 * var(--d)) 0 3px,
    calc(-1 * var(--d)) calc(0 * var(--d)) 0 4px,
    calc(-0.707 * var(--d)) calc(-0.707 * var(--d)) 0 5px,
    calc(0 * var(--d)) calc(-1 * var(--d)) 0 6px;
  animation: l27 1s infinite steps(10);
}

@keyframes l27 {
  100% {
    transform: rotate(1turn);
  }
}

.btnVaciar {
  @include btn;
  text-align: center;
  width: 230px;
  margin: 40px auto;
}

.trash {
  width: 30px;
  height: 30px;
  cursor: pointer;
  color: #ff0000;
  &:hover {
    color: $tertiary-color;
  }
}

.cartView {
  @include grid-places;
  margin-top: 40px;
}

.table {
  width: 900px;
  margin: 30px auto;
  border-radius: $border-radius;
}

.head {
  background: $black;
  color: $white;
  text-align: center;
  th {
    padding: $padding-md;
    font-weight: 600;
  }
}

.fila {
  padding: $padding-lg;
  background: rgba(227, 194, 254, 0.5);
}

.space {
  padding: 5px 10px;
  text-align: center;
}

.imagenTabla {
  width: 150px;
  height: 100px;
  object-fit: cover;
  border-radius: $border-radius;
}

.bold {
  text-align: center;
  font-weight: 600;
}

.oops {
  width: 500px;
  margin-bottom: 80px;
}

.noProducts {
  @include grid-places;
  margin-top: 100px;
}
